<div class="container">
  <div class="search-input-container">
    <md-form-field class="search-input-wrapper">
        <input [formControl]="searchFormControl"
         mdInput placeholder="search for Github repos" >
      </md-form-field>
  </div>
  <div class="mat-elevation-z8" *ngIf="reposLoaded && !isEmptyResult">
    <md-table #table [dataSource]="reposDataSource">
      <ng-container mdColumnDef="name">
        <md-header-cell *mdHeaderCellDef>
          Repo name
        </md-header-cell>
        <md-cell *mdCellDef="let repo">
          {{repo.name}}
        </md-cell>
      </ng-container>
  
      <ng-container mdColumnDef="url">
        <md-header-cell *mdHeaderCellDef>
          Repo url
        </md-header-cell>
        <md-cell *mdCellDef="let repo">
          {{repo.url}}
        </md-cell>
      </ng-container>
  
      <ng-container mdColumnDef="stars">
        <md-header-cell *mdHeaderCellDef>
          Repo Stars
        </md-header-cell>
        <md-cell *mdCellDef="let repo">
          {{repo.stars}}
        </md-cell>
      </ng-container>
  
      <ng-container mdColumnDef="forks">
        <md-header-cell *mdHeaderCellDef>
          Repo forks
        </md-header-cell>
        <md-cell *mdCellDef="let repo">
          {{repo.forks}}
        </md-cell>
      </ng-container>
  
      <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *mdRowDef="let row; columns: displayedColumns" ></md-row>
    </md-table>
  </div>
  <div *ngIf="!reposLoaded" class="loading">
    Search for something
  </div>
  
  <div *ngIf="isEmptyResult" class="empty-repos-list">
    No results :`(
  </div>
</div>

